/*
    BASE CSS STYLES
*/
*{
    font-family: 'Helvetica', sans-serif;
    text-transform: uppercase;
}

.body p, .body h1, .body h2, .body h3, .body div, .footer h4, .option-submit-button{
    color: white;
}

.container{
    max-width: 1000px;
    background-color: #FC423A;
    padding-top: 50px;
    padding-bottom: 80px;
}

.title-slv{
    font-size: 70px;
    margin-bottom: 0;
}

.title-lite{
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 10px;
}

.title-quote{
    margin-top: 5px;
    font-size: 18px;
}

hr{
    border: 10px solid black;
    width: 900px;
}

.center{
    text-align: center;
    margin: auto;
}

.navigation > div{
    display: inline-block;
}

.option-add-button, .option-submit-button{
    padding: 10px 20px;
    border: 1px black solid;
    width:250px;
    text-align: center;
    margin: 30px auto;
    font-size: 1rem;
}

.option-add-button:hover, .option-submit-button:hover{
    cursor: pointer;
}

/*
    TAB CONTENT CSS
*/
.tabcontent{
    display: none;
}

/*
    NEW POLL CSS
*/

.new-option-headers{
    text-align: left;
    margin-left:10%;

}

.content-new-option > input{
    display: block;
    text-align: center;
    margin: auto;
}

.num-1, .num-2, .num-3{
    font-size: 50px;
}

/*
    RESULTS CSS
*/

.choice{
    border: 1px black solid;
    padding: 10px;
    margin: 10px;
}

.results-col{
display: inline-block;
    width: 40%;
}

.result{
    font-family: Arial;
    font-size: 1.8em;
    text-transform: uppercase;
}

.results-option > div{
    float: left;
}

.results-count > div{
    float: right;
}

.vote-submit-button{
    clear: both;
    padding: 5px 10px;
    border: 1px black solid;
    width:175px;
    text-align: center;
    margin: 10px auto;
    font-size: 1rem;
    display: block;
}

/*
    SOCIAL MEDIA CSS
*/
.icon{
    height: 75px;
    width: 75px;
    border-radius: 25px;
    display: inline-block;
    color: white;
}

.sm-icon{
    height:40px;
    filter: invert(100%);
    color: white;
    margin: auto;
    text-align: center;
    position: relative;
    top: 20%;
}

#facebook{
    background-color: dodgerblue;
}
#twitter{
    background-color: cornflowerblue;
}
#mail{
    background-color: firebrick;
}