/*
    BASE CSS STYLES
*/

h1{
    text-transform: uppercase;
}

.container{
    max-width: 1000px;
}

.slv-header{
    font-family: 'Arial', sans-serif;
}

.center{
    text-align: center;
    margin: auto;
}

.navigation > div{
    display: inline-block;
}

.option-add-button, .option-submit-button{
    padding: 10px 20px;
    border: 1px black solid;
    width:250px;
    text-align: center;
    margin: 30px auto;
    font-size: 1rem;
}

.option-add-button:hover, .option-submit-button:hover{
    cursor: pointer;
}

/*
    TAB CONTENT CSS
*/
.tabcontent{
    display: none;
}

/*
    NEW POLL CSS
*/

.content-new-option > input{
    display: block;
    text-align: center;
    margin: auto;
}

/*
    RESULTS CSS
*/

.choice{
    border: 1px black solid;
    padding: 10px;
    margin: 10px;
}

.results-col{
display: inline-block;
    width: 40%;
}

.result{
    font-family: Arial;
    font-size: 1.8em;
    text-transform: uppercase;
}

.results-option > div{
    float: left;
}

.results-count > div{
    float: right;
}

.vote-submit-button{
    clear: both;
    padding: 5px 10px;
    border: 1px black solid;
    width:175px;
    text-align: center;
    margin: 10px auto;
    font-size: 1rem;
    display: block;
}

/*
    SOCIAL MEDIA CSS
*/
.icon{
    height: 75px;
    width: 75px;
    border-radius: 25px;
    display: inline-block;
    color: white;
}

#facebook{
    background-color: dodgerblue;
}
#twitter{
    background-color: cornflowerblue;
}
#mail{
    background-color: firebrick;
}